p {
    color: blue;
     color: red;
    font-size: 20px;
    font-family: helvetica;
    
}

h1 {
    color: darkred;
    font-family: helvetica;
    font-weight: bold;
}

.poem {
    color: red;
    font-size: 20px;
    font-family: helvetica;
    


}

.dream{
    
    font-size: 20px;
    
}


.bold {
    font-weight: bold;
}

.blue {
    color: blue;
}


aaron{
    

}


t{
    
 
}

